body {
    color: #96969f;
    font-family: Courier;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    
}

h1 {
    color: #96969f;
    font-family: Courier;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}


hr {
    color: #96969f;
}

.header {
    margin-top: 40%; }
